<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Extract PDF</title>
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
      </head>
      <body>
          <div class="container">
              <div class="col-12 mt-4"><h1>Extrair texto do PDF</h1></div>
              
              <div class="col-12">
                  <form action="/upload" method="post" enctype="multipart/form-data">
                    <div class="row">
                      <label class="form-label" for="customFile">Selecione o PDF:</label>
                      <input type="file" class="form-control" id="pdf" name="pdf" accept="application/pdf"  required/>
                      
                        <button type="submit" class="text-center mt-4 btn btn-success"> Upload</button>
                      </div>
                    </form>

                    <div class="form-group green-border-focus">
                        <textarea class="form-control mt-4"  rows="10">{{text}}</textarea> 
                    </div>
                </div>
                
          </div>
       
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
      </body>
    </html>